<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>Creating a new car</h1>
    <form method="POST">
        <label for="Name">Name</label>
        <input type="text" name="Name">
        <br>
        <label for="Brand">Brand</label>
        <input type="text" name="Brand">
        <br>
        <label for="HP">Horsepower</label>
        <input type="text" name="HP">
        <br>
        <label for="Price">Price</label>
        <input type="text" name="Price">
        <br>
        <input type="submit">
    </form>
</body>
</html>